#wrapper>ul {
    display: none;
}

#content>nav {
    display: none;
}

#back_order {
    display: none !important;
}

#print_order {
    display: none !important;
}

#confirmation_order {
    display: none !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}