* {
    background: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px 12px 50px;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #d8c3c3;
}

.logo {
    flex: 1;
}

.logo>a {
    font-size: 35px;
    font-weight: bold;
    color: rgb(211, 36, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    flex: 3;
}

.menu>ul {
    display: flex;
    margin-left: 130px;
    margin-top: 20px;
}

.menu>ul>li {
    padding: 0 30px;
    position: relative;
}

.menu>ul>li>a {
    font-weight: 500;
    font-size: 16px;
    display: block;
    line-height: 20px;
    position: relative;
    height: 30px;
}

.menu>ul>li>a::after {
    content: "";
    height: 2px;
    width: 0px;
    background-color: tomato;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
}

.menu>ul>li>a:hover {
    color: tomato;
}

.menu>ul>li>a:hover::after {
    width: 100%;
    color: tomato;
}

.others {
    flex: 1;
}

.others>ul {
    display: flex;
}

.others>ul>li {
    padding: 0px 12px;
}

.others>ul>li>i {
    cursor: pointer;
}

.others>ul>li>a {
    padding-top: 10px;
}

.others>ul>li:first-child {
    position: relative;
}

.others>ul>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    height: 10px;
}

.others>ul>li:first-child i {
    position: absolute;
    right: 12px;
    padding-top: 10px;
}

.login {
    width: 500px;
}

.login h3 {
    text-align: center;
    text-transform: uppercase;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.cart {
    position: relative;
    bottom: 10px;
    right: 4px
}

.message-1 {
    text-align: center;
    margin: 15px 0px;
    color: #57585A;
}

.form-group {
    text-align: center;
    margin: 15px 0px;
}

.form-group_start {
    text-align: start !important;
}

.form-control {
    width: 70%;
    height: 40px;
}

input[type=text],
input[type=password] {
    border: 1px solid #E7E8E9;
    padding: 15px;
    font-size: 14px;
    color: #57585A;
}

.finish {
    text-align: center;
    margin: 15px;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
}

.btn-large {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    background-color: #221f20;
    color: #f7f8f9;
    border: 1px solid transparent;
}

.btn .btn-large {
    width: 100%;
}

.form-link {
    color: #221f20;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
    margin: 15px 80px;
}

.register {
    width: 700px;
}

.disabled {
    pointer-events: none;
    cursor: no-drop;
    opacity: 0.6;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

#main-register {
    margin: 15px;
}

#main-register>div {
    margin: 15px;
}

.form-check {
    padding: 0 30px;
    font-size: 17px;
}

.btt-register {
    text-align: center;
    margin: 15px;
}

.btn-large:hover {
    background-color: white;
    color: #221f20;
    border: 1px solid black;
    cursor: pointer;
}

#container {
    display: flex;
    padding-top: 20px;
    border-bottom: 1px solid #d8c3c3;
    padding-bottom: 25px;
    margin: 0px 100px;
}

.container_product_detail {
    padding: 60px 25px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.auth-block {
    position: relative;
    border-left: 1px solid #d8c3c3;
    margin-left: 130px;
}

.login {
    display: block;
}

.register {
    display: block;
    padding-left: 150px;
}

footer {
    display: block;
    margin-top: 20px;
    padding-bottom: 30px;
}

.hipp {
    font-size: 15px;
    display: flex;
}

.upper-footer {
    margin: 0 80px;
    padding-left: 80px;
}

.upper-footer>ul>li {
    text-indent: 40px;
}

.description {
    background-color: rgb(250 250 250);
    padding: 10px;
}

.roww {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}


/* ==============================slider========================================== */

.lSSlideWrapper,
.lSSlideWrapper .lSFade {
    position: relative
}

.lSSlideOuter,
.lSSlideOuter .lSPager.lSGallery {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    overflow: hidden
}

.lSSlideOuter .lSPager.lSGallery:after,
.lSSlideWrapper>.lightSlider:after {
    clear: both
}

.lSSlideOuter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightSlider:after,
.lightSlider:before {
    content: " ";
    display: table
}

.lightSlider {
    overflow: hidden;
    margin: 0
}

.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform, height;
    transition-property: transform, height;
    -webkit-transition-duration: inherit!important;
    transition-duration: inherit!important;
    -webkit-transition-timing-function: inherit!important;
    transition-timing-function: inherit!important
}

.lSSlideWrapper .lSFade>* {
    position: absolute!important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%
}

.lSSlideWrapper.usingCss .lSFade>* {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit!important;
    transition-duration: inherit!important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit!important;
    transition-timing-function: inherit!important
}

.lSSlideWrapper .lSFade>.active {
    z-index: 10
}

.lSSlideWrapper.usingCss .lSFade>.active {
    opacity: 1
}

.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center
}

.lSSlideOuter .lSPager.lSpg>li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px
}

.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s
}

.lSSlideOuter .lSPager.lSpg>li.active a,
.lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #428bca
}

.lSSlideOuter .media {
    opacity: .8
}

.lSSlideOuter .media.active {
    opacity: 1
}

.lSSlideOuter .lSPager.lSGallery {
    list-style: none;
    padding-left: 0;
    margin: 0;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius .12s linear 0s .35s linear 0s;
    transition: border-radius .12s linear 0s .35s linear 0s
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%
}

.lSSlideOuter .lSPager.lSGallery:after,
.lSSlideOuter .lSPager.lSGallery:before {
    content: " ";
    display: table
}

.lSAction>a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: .5;
    -webkit-transition: opacity .35s linear 0s;
    transition: opacity .35s linear 0s
}

.lSAction>a:hover {
    opacity: 1
}

.lSAction>.lSPrev {
    left: 10px;
    content: "<";
    justify-content: center;
    display: flex;
    align-items: center;
    width: 38px !important;
    height: 38px !important;
}

.lSAction>.lSNext {
    right: 10px;
    content: ">";
    justify-content: center;
    display: flex;
    align-items: center;
    width: 38px !important;
    height: 38px !important;
}

.lSAction>a.disabled {
    pointer-events: none
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden
}

.lSSlideOuter.vertical {
    position: relative
}

.lSSlideOuter.vertical.noPager {
    padding-right: 0!important
}

.lSSlideOuter.vertical .lSGallery {
    position: absolute!important;
    right: 0;
    top: 0
}

.lSSlideOuter.vertical .lightSlider>* {
    width: 100%!important;
    max-width: none!important
}

.lSSlideOuter.vertical .lSAction>a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0
}

.lSSlideOuter.vertical .lSAction>.lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto
}

.lSSlideOuter.vertical .lSAction>.lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px
}

.lSSlideOuter.lSrtl {
    direction: rtl
}

.lSSlideOuter .lSPager,
.lSSlideOuter .lightSlider {
    padding-left: 0;
    list-style: none
}

.lSSlideOuter.lSrtl .lSPager,
.lSSlideOuter.lSrtl .lightSlider {
    padding-right: 0
}

.lSSlideOuter .lSGallery li,
.lSSlideOuter .lightSlider>* {
    float: left
}

.lSSlideOuter.lSrtl .lSGallery li,
.lSSlideOuter.lSrtl .lightSlider>* {
    float: right!important
}

@-webkit-keyframes rightEnd {
    0%,
    100% {
        left: 0
    }
    50% {
        left: -15px
    }
}

@keyframes rightEnd {
    0%,
    100% {
        left: 0
    }
    50% {
        left: -15px
    }
}

@-webkit-keyframes topEnd {
    0%,
    100% {
        top: 0
    }
    50% {
        top: -15px
    }
}

@keyframes topEnd {
    0%,
    100% {
        top: 0
    }
    50% {
        top: -15px
    }
}

@-webkit-keyframes leftEnd {
    0%,
    100% {
        left: 0
    }
    50% {
        left: 15px
    }
}

@keyframes leftEnd {
    0%,
    100% {
        left: 0
    }
    50% {
        left: 15px
    }
}

@-webkit-keyframes bottomEnd {
    0%,
    100% {
        bottom: 0
    }
    50% {
        bottom: -15px
    }
}

@keyframes bottomEnd {
    0%,
    100% {
        bottom: 0
    }
    50% {
        bottom: -15px
    }
}

.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd .3s;
    animation: rightEnd .3s;
    position: relative
}

.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd .3s;
    animation: leftEnd .3s;
    position: relative
}

.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd .3s;
    animation: topEnd .3s;
    position: relative
}

.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd .3s;
    animation: bottomEnd .3s;
    position: relative
}

.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd .3s;
    animation: leftEnd .3s;
    position: relative
}

.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd .3s;
    animation: rightEnd .3s;
    position: relative
}

.lSPrev,
.lSNext {
    background-color: #ff9800 !important;
    border-radius: 50%;
}

.lightSlider.lsGrab>* {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.lightSlider.lsGrabbing>* {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing
}

.item {
    width: 200px;
}

.item:hover {
    box-shadow: 5px 5px 5px #e2e2e2;
}

#autoWidth>li {
    text-align: center;
    float: left;
    border: 1px solid #e2e2e2;
    /* height: 300px; */
}


/* ===========Mobile============ */

@media screen and (max-width: 739px) {
    .menu {
        display: none;
    }
    .hipp {
        display: block;
        text-align: center;
    }
    .container_product_detail {
        width: 94%;
        margin-left: 3%;
    }
}


/* ===========Tablet============ */

@media screen and (max-width: 1023px) and (min-width: 740px) {
    .menu {
        display: none;
    }
    .container_product_detail {
        width: 88%;
        margin-left: 6%;
    }
}

/* Product list */
.product-list{
    

}