<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tiệm trang sức | Dây chuyền</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/Category.css">
  <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
</head>

<body>
  <header id="navbar">
    <div class="logo">
      <a href="trangchu.html">JEWELRY</a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="">NHẪN</a></li>
        <li><a href="">VÒNG TAY</a></li>
        <li><a href="">DÂY CHUYỀN</a></li>
        <li><a href="">ĐỒNG HỒ</a></li>
        <li><a href="">BÔNG TAI</a></li>
      </ul>
    </div>
    <div class="others">
      <ul>
        <li>
          <input id="search-input" type="text" placeholder="Search">
          <i  id="search-btn" class="fas fa-search"></i>
        </li>
        <li><a href="" class="fas fa-user-edit"></a></li>
        <li><a href="" class="fas fa-shopping-cart"></a></li>
      </ul>
    </div>
  </header>

  <div class="fluid">
    <img src="../../img/an-tuong-va-noi-bat-cung-trang-suc-kim-cuong-fashion.jpg" style="width: 100%;">
  </div>
  <div class="container">
    <div class="menu-link">
      <a href="">Trang chủ</a>
      <i class="fa fa-angle-right"></i>
      <span class="active">Dây chuyền</span>
    </div>

    <div class="title-h1 bdb-afbf">
      <h1>Dây chuyền vàng bạc
        <span class="timecd time-sale-20"></span>
      </h1>
      <div class="select-h1">
        <p>sắp xếp theo</p>
        <div class="sla-tskc bg-fff selected-s select-sort">
          <div class="row justify-content-end">
            <div class="btn-group ">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tất cả sản phẩm
              </button>
              <div class="dropdown-menu">
                <a href="" class="dropdown-item">Giá từ thấp đến cao</a>
                <a href="" class="dropdown-item">Giá từ cao đến thấp</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <ul id="product-list" class="products">
      <!-- <li>
        <div class="product-item">
          <div class="product-top">
            <a href="" class="product-thumb">
              <img src="../../img/gmztmxy000021-mat-day-chuyen-vang-10k-dinh-da-ecz-swarovski-style-by-pnj.png" alt="">
            </a>
          </div>
          <div class="product-info">
            <div class="type">
              <a href="#">Lắc tay vàng trắng Ý 18K</a>
              <span>New item</span>
            </div>
            <div href="#" class="price">13.500.000 đ</div>
          </div>
        </div>
      </li> -->
    </ul>

    <nav aria-label="Page navigation example">
      <ul id="pagination" class="pagination justify-content-center">
        <!-- <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
  <footer class="hipp">
    <div class="upper-footer">
      <ul>
        <b>Địa chỉ:</b>
        <li> CS1: Nghi Xuân - Hà Tĩnh</li>
        <li>CS2: Tây Sơn - Bình Định</li>
        <li>CS3: Quận 12- Thành phố Hồ Chí Minh</li>
      </ul>
    </div>
    <div class="upper-footer">
      <b>Hotline</b> : 65652326565
    </div>
    <div class="upper-footer">
      <ul>
        <b>Chủ sở hữu</b> :
        <li>Nguyễn Thị Trà My</li>
        <li>Nguyễn Thị Như Phượng</li>
        <li>Nguyễn Anh Tuấn</li>
      </ul>
    </div>

  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <!-- Utility -->
  <script src="../../../js/utility.js"></script>

  <script>
    $(document).scroll(function () {
      if ($(window).scrollTop()) {
        $("header").addClass("fixed");
      }
      else {
        $("header").removeClass("fixed");
      }
    });

    search = getUrlParameter('search')
    page = getUrlParameter('page')
    if (!page) page = 1;
    num = 5
    const cate = getUrlParameter('cate')

    if (cate) {
      axios.get('http://localhost:3000/product/search_by_category/' + cate)
        .then(function (res) {
          const products = res.data.products;
          printList(products)
        })
        .catch(function (error) {
          console.log(error)
        });
    } else {
      if (search) {
        axios.get('http://localhost:3000/product/search/' + search)
        .then(function (res) {
            console.log("Search", res.data.products)
            const products = res.data.products;
            printList(products)
          })
          .catch(function (error) {
            console.log(error)
          });
      } else {
        axios.get('http://localhost:3000/product/list')
          .then(function (res) {
            console.log(res.data.products)
            const products = res.data.products;
            printList(products)
          })
          .catch(function (error) {
            console.log(error)
          });
      }
    }

    function printList(products) {
      for (i = 0; i < products.length; i++) {
        if (i >= (page - 1) * num && i < page * num) {
          product = products[i]
          $('#product-list').append(`
              <li>
                <div class="product-item">
                  <div class="product-top">
                    <a href="" class="product-thumb">
                      <img src="${product.image}" alt="">
                    </a>
                  </div>
                  <div class="product-info">
                    <div class="type">
                      <a href="#">${product.name}</a>
                      <span>New item</span>
                    </div>
                    <div href="#" class="price">${product.price} đ</div>
                  </div>
                </div>
              </li>
            `)
        }
      }

      // PAGINATION
      paginationUser(num, page, products.length, search, cate)
    }

    $('#search-btn').on('click', function () {
      console.log("Click")
      search = $('#search-input').val()
      window.location.href = "/view/client/category.html?search=" + search;
    })

  </script>
</body>

</html>