<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin| Danh sách đơn hàng</title>
    <!-- link print -->
    <link rel="stylesheet" type="text/css" href="../../../css/print.css" media="print">
    <!-- link title -->
    <link rel="icon" type="image/png" href="../../../img/logo_title.png" />
    <!-- Custom fonts for this template -->
    <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div>
                    <img src="../../../img/logo_admin.png" alt="logo Admin">

                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item  active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#category"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Danh mục</span>
                </a>
                <div id="category" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="../category/add.html">Thêm danh mục</a>
                        <a class="collapse-item" href="../category/index.html">Danh sách danh mục</a>

                    </div>
                </div>
            </li>
            <li class="nav-item  active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#product"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-store"></i>
                    <span>Sản phẩm</span>
                </a>
                <div id="product" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="../product/add.html">Thêm sản phẩm</a>
                        <a class="collapse-item" href="../product/index.html">Danh sách sản phẩm</a>

                    </div>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#order" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Đơn hàng</span>
                </a>
                <div id="order" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="./index.html">Danh sách đơn hàng</a>
                    </div>
                </div>
            </li>


            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#user" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Tài khoản</span>
                </a>
                <div id="user" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="../user/add.html">Đăng ký tài khoản</a>
                        <a class="collapse-item" href="../user/index.html">Danh sách tài khoản</a>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#discount"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-award"></i>
                    <span>Mã giảm giá</span>
                </a>
                <div id="discount" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="../discount/add.html">Thêm mã giảm giá</a>
                        <a class="collapse-item" href="../discount/index.html">Danh sách mã giảm giá</a>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../feedback/index.html">
                    <i class="fas fa-fw fa-bell"></i>
                    <span>Phản hồi</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-paperclip"></i>
                    <span>Page</span></a>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input id="search-input" type="text"
                                            class="form-control bg-light border-0 small" placeholder="Search for..."
                                            aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button id="search-input" class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="../user/account.html" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="account-name"  class="mr-2 d-none d-lg-inline text-gray-600 small">Nguyễn Như Phượng</span>
                                <img class="img-profile rounded-circle" src="../../../img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Tài khoản của tôi
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!--============================== Begin Page Content ======================================-->
                <div class="container-fluid">
                    <div class="row">

                        <div class="w-100 ">
                            <p id="order_id">Mã đơn hàng: </p>
                            <p id="customer_name">Tên người nhận: </p>
                            <p id="customer_email">Email: </p>
                            <p id="customer_phone">Số điện thoại: </p>
                            <p id="customer_address">Địa chỉ giao hàng: </p>
                            <p>Thông tin sản phẩm:</p>
                            <table class="table table-bordered">
                                <thead class="thead-ligth">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Đơn giá</th>
                                    </tr>
                                </thead>
                                <tbody id="product_list">

                                    <!-- <tr>
                                        <th scope="col">1</th>
                                        <th scope="col">Bông tai nút khóa</th>
                                        <th scope="col">1</th>
                                        <th scope="col">249.000 <u>đ</u></th>
                                    </tr> -->

                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Tổng tiền sản phẩm: </td>
                                        <td id="order_totalPrice" class="float-right"> </td>
                                    </tr>

                                    <tr>
                                        <td>Mã giảm giá: </td>
                                        <td id="order_discount" class="float-right"> </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong> Tổng tiền thanh toán: </strong>
                                        </td>
                                        <td id="order_totalDiscountPrice" class="float-right"> </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p id="order_date">Ngày đặt hàng: </p>
                            <div id="confirm_btn_container" class="row col-12">


                            </div>

                            <div class="row col-12"
                                style="justify-content:space-between;margin-top:20px;padding-bottom:20px">
                                <a id="back_order" href="./index.html">Quay lại</a>
                                <button id="print_order" class="btn btn-sm btn-primary" onclick="">In đơn
                                    hàng</button>
                            </div>
                        </div>

                        <!-- /.container-fluid -->
                    </div>
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <a href="#">MTPshop &copy;</a>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script src="../../../vendor/jquery/jquery.min.js"></script>
        <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="../../../js/sb-admin-2.js"></script>

        <!-- Page level custom scripts -->
        <script src="../../../js/demo/datatables-demo.js"></script>

        <!-- Axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

        <!-- Utility -->
        <script src="../../../js/utility.js"></script>

        <script>
            //Authorization
            author = $.cookie("Authorization")
            axios.get('http://localhost:3000/auth/secret', { headers: { Authorization: author } })
                .then(function (res) {
                    console.log(res)
                user = res.data.account
                $('#account-name').text(user.fullName)
                })
                .catch(function (error) {
                    console.log(error)
                    window.location.href = "/view/client/login.html";
                });


            const id = getUrlParameter('id')
            axios.get('http://localhost:3000/order/' + id)
                .then(async function (res) {
                    const order = res.data.order[0]
                    console.log("Order",order)

                    discountFormat = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(order.discount)
                    totalPriceFormat = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(order.totalPrice)

                    $("#order_id").append(order.id)
                    $("#customer_name").append(order.fullName)
                    $("#customer_email").append(order.email)
                    $("#customer_phone").append(order.phoneNumber)
                    $("#customer_address").append(order.address)
                    $("#order_discount").append("-" + discountFormat )
                    $("#order_totalDiscountPrice").append(totalPriceFormat )

                    createdAt = new Date(order.createdAt)
                    month = createdAt.getMonth() + 1
                    createdDate = createdAt.getDate() + "/" + month + "/" + createdAt.getFullYear()
                    $("#order_date").append(createdDate)

                    $("#confirm_btn_container").append(`
                        <button id="confirmation_order" onclick="updateOrder()" class="btn btn-sm btn-${order.status == 0 ? 'success' : 'danger'}">
                            ${order.status == 0 ? 'Xác nhận đơn hàng' : 'Hủy xác nhận'}
                        </button>
                    `)
                    //console.log('Success',order)

                    order.orderProducts.forEach((element, i) => {
                        axios.get('http://localhost:3000/product/' + element.productId)
                            .then(function (res) {
                                console.log(res)
                                const product = res.data.product[0]
                                priceFormat = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(element.price)
                                $('#product_list').append(`
                                    <tr>
                                        <th scope="col">${i + 1}</th>
                                        <th scope="col">${product.name}</th>
                                        <th scope="col">${element.quantity}</th>
                                        <th scope="col">${priceFormat}</th>
                                    </tr>
                                `)

                            })
                            .catch(function (error) {
                                console.log(error)
                            })
                    });

                })
                .catch(function (error) {
                    console.log(error)
                })

            // UPDATE CATEGORY
            function updateOrder() {
                console.log("Confirm", id)
                axios.post('http://localhost:3000/order/confirm/' + id)
                    .then(function (response) {
                        console.log(response)
                        window.location.href = "/view/admin/order/index.html";
                    })
                    .catch(function (error) {
                        alert(error.response.data.message)
                        console.log(error.response.data.message)
                    });
            }

            $('#search-btn').on('click', function () {
                console.log("Click")
                search = $('#search-input').val()
                window.location.href = "/view/admin/order/index.html?search=" + search;
            })
        </script>
</body>

</html>